.App {
  background-color: #000000;
}

.navbar {
  padding: 10px;
  border-radius: 5px;
}

.navbar-brand {
  color: #FFFFFF;
}

.button-group {
  display: flex;
  gap: 10px;
}

.btn-purple {
  background-color: #3e3193;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-purple:hover {
  background-color: #7db300;
}

.table {
  background-color: #FFFFFF;
}

.error {
  color: red;
}
