/* Center the login box and set a sky-blue background */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101820; /* Sky blue */
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-box label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background-color: #3e3193;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background-color: #7db300;
  }
  
  p {
    color: red;
  }
  